{% extends 'main.html' %}
{% load static %} 
{% block content %}
<style>
    .main1{
        background-color: rgba(0,0,0,.15);
        backdrop-filter: blur(5px);
        padding:20px;
    }
    .description{
        color: wheat;
        text-justify: auto;
        text-align:justify;
        padding-right:30px;
        border:dashed;
    }   
    .buy{
        border: black dotted;
        color: wheat;
        padding: 20px;
        z-index: 3;
    }
    .price{
        
        background-color:rgba(160, 82, 45, 0.9);
        color: wheat;
        position: absolute;
        z-index: 2;
        font-size: large;
        font-weight:bold;
        padding:5px;
        border-radius: 0 0 10px 10px;
        left:20px;
        backdrop-filter: blur(5px);
    }
    .rules{
        color: wheat;
    }
    .accordion-button{
        background-color: sienna;
    }
    .collapseOne{
        background-color: sienna;
    }
    .accordion-body{
        background-color: sienna;
    }
    .accordion-header{
        background-color: sienna;
    }
    label{
        display:block;
    }
    input{
        width:100%;
    }
    select{
        width:100%;
    }
    #id_address{
        width:100%;
        height:60px;
    }

    .carousel-item{
        position: relative;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: rgba(100, 63, 4, 0.7);
        padding:10px;
    }
    .slider{

    }

    #artistpic{
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    #artistimage{
        width:20vw;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
    }
</style>

<br><br><br>
<div class="main1 row col-12 justify-content-center m-0 p-0" >
    <div class="slider col-md-9">
        <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">
            <div class="price">
                <p>
                    قیمت: {{product.price}} تومان
                </p>
            </div>
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{%static 'cafe/images/test1.jpeg'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{%static 'cafe/images/test1.jpeg'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{%static 'cafe/images/test1.jpeg'%}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
        
    </div>
    
    

    <div class="buy col-md-3">
        <form method="POST" action="" id="form">
            {%csrf_token%}
            {{form.as_p}}
            <input type="submit" value="ثبت">             
        </form>
    </div>
    
    
    <div class="description col-12 m-2 pr-2">
        <p>
            <h3>{{product.name}}</h3>
            <p>
            {{product.des}}
            </p>
        </p>
    </div>
    <hr>

    {% if product.product_type == 'one' %}
    <div class="description col-12">
        <div calss="artistpic" id='artistpic'>
            <img src="{{product.artist.avatar.url}}" class="" id='artistimage' alt="...">
        </div>
        <p>
            <h4>
                درباره ی هنرمند آفریننده: 
            </h4>
            <p>
                {{product.artist}}
            </p>
            <p>
                {{product.artist.des}}
            </p>
        </p>
    </div>
    {%endif%}

    <div class="rules col-12">
        <hr>
        <p>
            قوانین:
        </p>
        <p>
            برای هدایای خارج از محدوده ی تهران و کرج زمان دریافت باید 
            حد اقل ۳ روز با زمان سفارش اختلاف داشته باشد
        </p>
        <p>
            مسئولیت درج آدرس یا شماره ی تماس نادرست به عهده ی سفارش دهنده است
        </p>
        <p>
            چنانچه قصد دارید سفارش را کنسل کنید، حد اکثر یک ساعت پس از ثبت سفارش از طریق
            شماره های تماس یا شبکه های اجتماعی اقدام فرمایید
        </p>
    </div>


</div>
<br>
{% endblock content %}
